$border:1px solid rgb(130, 127, 127);
$border-color:rgb(130, 127, 127);
$text-primary-color:rgb(9, 9, 9);

$primary-color:rgb(255,0,0);

$layout-space-left:25px;

$background-color-actice:#eae9e9;

$wall-color:#d3d3d3;

// $bg-color-header:#e7e7e7;