@use 'variables' as *;

:root{
    --width-button-search:64px
}

.wrapper{
    padding: 10px $layout-space-left;
    display: flex;
    justify-content: center;
    .container{
        // width: 97%;
        width: 100%;
        .contain-ip{
        
            position: relative;
            width: 600px;
            height: 42px;
            border:$border;
            border-radius: 20px;
            // overflow: hidden;
            button{
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2.4rem;
                width:var(--width-button-search);
                border-left: $border;
            }
            .box-ip{
                border-radius: 20px;
                overflow: hidden ;
                width:calc(100% - 64px);   
                display: flex; 
                button{
                    position: absolute;
                    font-size: 1.5rem;
                    background-color: transparent;
                    border:none;
                    width: 40px;
                    font-size: 2rem;
                }
                .loading{
                    animation: loading 1s linear infinite;
                }
                input{
                    flex: 1;
                    border:none;
                    padding: 3px 15px;
                }
            }
            .box-ip,button{
                height: 40px;
                position: absolute;
            }
        }
        img{
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    
}


@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}